<div class="banner" style="background-image: linear-gradient(0deg, rgba(30,30,30,0.2) 0%, rgba(0,0,0,1) 70%), url('https://images.unsplash.com/photo-1489513691500-41ef4acdb665?ixlib=rb-0.3.5&s=e43193816d3cdbda1b8c09e2010be775&auto=format&fit=crop&w=1350&q=80');">
  <div class="banner-content">
    <h2>Share your best cocktails with everyone</h2>
    <% if Cocktail.count > 0 %>
      <%= link_to "Check one random cocktail!", cocktail_path(Cocktail.offset(rand(Cocktail.count)).first), class: 'btn primary-color' %>
    <% end %>
  </div>
</div>
